<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线制图工具-登录</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        body {
            background: url(../img/bg.png) no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav class="nav nav-default  icon_box_main">
        <div class="icon_box_fa container">
            <div class="icon_box">
                <img src="../img/icon.png" alt="无法显示图片">
            </div>
            <span>在线制图工具</span>
            <div class="pull-right login_reg_box">
                <ul>
                    <li>
                        <a href="<%= HTTP_ROOT%>/login">登录</a>
                    </li>
                    <li>
                        <a href="<%= HTTP_ROOT%>/reg" target="_blank">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="login_main">
        <div class="container-fluid" style="box-sizing: content-box;margin: 30px 0;">
            <div class="row">
                <p class="login_main_header">
                    <img src="../img/icon.png" alt="自行车销售商城">
                    <span>用户登录</span>
                </p>
                <form action="/login" method="POST" id="login_box">
                    <input type="email" placeholder="请输入邮箱地址" name='email'>
                    <input type="password" placeholder="请输入密码" name='password'>
                    <input type="submit" id="user_login" value="登录" style="margin-top: 20px;" />
                </form>

                <footer class="container-fluid login_footer">
                    <div class="pull-left clearfix">
                        还没账号?
                        <a href="/reg" style="color: deepskyblue;">去注册</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>